<html>
    <head>
        <title></title>
        <meta charset = "utf-8"/>
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>delete</h1>
    </body>
</html>