<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <center>
        <div class="tab">
            <div class="row">
                <div class="cell">
                    <div class=caption>Station</div>
                    <form action="/dropdown" method="post">
                        <select name="StationId"" id=" StationId">
                            <option>AM1</option>
                            <option>AM2</option>
                        </select>
                        <input type='submit' id='view' name='button' value='Välj' />
                </div>
            </div>
        </div>
        </div>
    </center>
</body>

</html>